.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  p {
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }

  /* Estilos responsivos para dispositivos móveis */
@media screen and (max-width: 380px) {
  .signup-container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .signup-container h1 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
    padding: 8px;
  }

  button[type="submit"] {
    font-size: 16px;
    padding: 12px;
  }
}