/* chat-widget.component.css */
.chat-widget {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.chat-bubble {
  width: 45px;
  height: 45px;
  background-color: #007BFF;
  border-radius: 50%;
  cursor: pointer;
}

.chat-box {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 350px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.chat-box .chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}


.chat-box .chat-body {
  max-height: 200px;
  overflow-y: auto;
}

.chat-box .chat-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chat-box .chat-footer input[type="text"] {
  border: none;
  flex: 1;
  padding: 5px;
}

.chat-box .chat-footer button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

.chat-body {
  max-height: 200px;
  overflow-y: auto;
}

.chat-footer {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.chat-footer input[type="text"] {
  background-color: #c6dfff;
  border-radius: 3px;
  flex: 1;
  padding: 5px;
}

.chat-footer button {
  padding: 5px 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.user-list {
  padding: 10px;
  cursor: pointer;
}
.user{
  padding: 3px;
  margin-bottom: 3px;
  border-radius: 3px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.user-list .user-item {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

.user-list .user-item:hover {
  background-color: #e0e0e0;
}

.user-list .user-item.selected {
  background-color: #007BFF;
  color: #fff;
}

.conversas {
  background-color: #c6dfff;
  color: black;
  border: none;
  cursor:text;
  border-radius: 3px;
}
.userBar {
  padding-left: 5px;
  background-color: #c6dfff;
  color: black;
  border: none;
  cursor:text;
  border-radius: 3px;
}

#voltar-button{
    padding: 4px 8px;
    background-color: #9c2b0f;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
  }



/* Estilos responsivos para dispositivos móveis */
@media screen and (max-width: 380px) {
  .chat-widget {
    bottom: 10px;
    right: 10px;
  }

  .chat-box {
    bottom: 50px;
    width: 100%;
    border-radius: 0;
  }

  .chat-box .chat-header {
    margin-bottom: 5px;
  }

  .chat-box .chat-body {
    max-height: 150px;
  }

  .chat-box .chat-footer {
    margin-top: 5px;
  }

  .chat-box .chat-footer input[type="text"] {
    padding: 3px;
  }

  .chat-box .chat-footer button {
    padding: 3px 6px;
  }

  .chat-body {
    max-height: 150px;
  }

  .chat-footer {
    margin-top: 5px;
  }

  .chat-footer input[type="text"] {
    padding: 3px;
  }

  .chat-footer button {
    padding: 3px 6px;
  }

  .user-list {
    padding: 5px;
  }

  .user-list .user-item {
    padding: 3px;
    margin-bottom: 3px;
  }

  #nova-conversa {
    background-color: #007BFF;
    color: #fff;
    border: none;
  }

  #voltar-button{
    padding: 3px 6px;
  }

}
