

<div class="chat-widget">
  <div class="chat-bubble" (click)="toggleChatBox()"></div>
  <div class="chat-box" [hidden]="!showChatBox">
    <div class="chat-header">
      <h3>Chat</h3>
      <button id="voltar-button" *ngIf="!showUserList" (click)="goBackToList()">Voltar</button>
    </div>
    <div class="chat-container">
      
      <div class="user-list" [hidden]="!showUserList">
        <div class="user" *ngFor="let user of listaDeUsuariosComMensagem" (click)="selectUser(user)">
          {{ user.nome }} : {{user.email}}
        </div>
        <p class="conversas">Inicie uma nova conversa: </p>
        <div class="user" *ngFor="let user of listaDeUsuariosSemMensagem" (click)="selectUser(user)">
          {{user.nome}} : {{user.email}}
        </div>
      </div>
      <div class="conversa-container" [hidden]="!showConversaContainer">
        <h3 class = "userBar" *ngIf="!showUserList" >{{ selectedUser.nome }} : {{selectedUser.email}}</h3>
          <hr>
        <div class="chat-body">
            <div *ngFor="let message of messages" class="message">
              <span class="content">{{ message.text }}</span>
            </div>
          </div>
          <div class="chat-footer">
            <input type="text" placeholder="Digite sua mensagem" [(ngModel)]="newMessageContent" (keyup.enter)="sendMessage(newMessageContent)">
            <button (click)="sendMessage(newMessageContent)">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- chat-widget.component.html
<div class="chat-widget">
  <div class="chat-bubble" (click)="toggleChatBox()"></div>
  <div class="chat-box" [hidden]="!showChatBox">
    <div class="chat-header">
      <h3>Chat</h3>
    </div>
    <div class="chat-body">
      <div *ngFor="let message of messages" class="message">
        <span class="author">{{ message.name }}: </span>
        <span class="content">{{ message.text }}</span>
      </div>
    </div>
    <div class="chat-footer">
      <input type="text" placeholder="Digite sua mensagem" [(ngModel)]="newMessageContent" (keyup.enter)="sendMessage(newMessageContent)">
      <button (click)="sendMessage(newMessageContent)">Enviar</button>
    </div>
  </div>
</div>-->
