<div class="login-container">
    <h1>Bem-vindo(a)!</h1>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email">
      </div>
      
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" formControlName="password">
      </div>
      
      <button type="submit">Entrar</button>
      <p>Novo por aqui? <a routerLink="/cadastro">Cadastre-se</a></p>
    </form>
    
  </div>

  